/* Estilização do contêiner do formulário de consulta de clima */
.forminteiro {
    background: transparent; /* Define o fundo como transparente */
    backdrop-filter: blur(70px); /* Aplica um desfoque ao fundo */
    border: 2px solid rgba(255, 255, 255, 0.5); /* Adiciona uma borda sólida com transparência */
    border-radius: 10px 10px; /* Arredonda os cantos do contêiner */
    height: 90%; /* Define a altura do contêiner */
    width: 30%; /* Define a largura do contêiner */
    margin-left: 32%; /* Define a margem esquerda */
    margin-top: 2%; /* Define a margem superior */
    display: flex; /* Define o contêiner como flexível */
    justify-content: center; /* Alinha os itens horizontalmente */
    align-items: center; /* Alinha os itens verticalmente */
    padding: 28px 32px; /* Adiciona preenchimento interno */
    flex-direction: column; /* Define a direção dos itens como coluna */
    color: rgba(255, 255, 255, 0.5); /* Define a cor do texto com transparência */
    box-shadow: 0px 10px 100px rgba(0, 0, 0.1); /* Adiciona uma sombra */
    font-family: "Kdam Thmor Pro", sans-serif; /* Define a fonte do texto */
    transition: 0.5s; /* Adiciona uma transição suave */
    margin: 0 auto; /* Centraliza horizontalmente */
    margin-top: 3%; /* Define a margem superior */
}

/* Estilização do título do formulário */
h1 {
    color: rgba(255, 255, 255, 0.5); /* Define a cor do texto com transparência */
    font-family: "Kdam Thmor Pro", sans-serif; /* Define a fonte do texto */
    margin: auto; /* Centraliza horizontalmente */
    font-size: 24px; /* Define o tamanho da fonte */
}

/* Estilização do formulário de consulta de clima */
#formclima {
    padding: 10%; /* Adiciona preenchimento interno */
    text-align: center; /* Alinha o texto no centro */
    transition-duration: 1s; /* Define a duração da transição */
}

/* Estilização do corpo da página */
body {
    margin: 0; /* Remove as margens padrão */
    color: aliceblue; /* Define a cor do texto */
    background-image: url(./gif/gifs-do-planeta-terra-girando.gif); /* Define a imagem de fundo */
    background-repeat: no-repeat; /* Evita repetir a imagem de fundo */
    background-position: center; /* Centraliza a imagem de fundo */
    background-size: cover; /* Ajusta a imagem de fundo ao tamanho da tela */
    transition: 3s; /* Define a duração da transição */
    height: 78vh; /* Define a altura do corpo da página */
}

.kdam-thmor pro-regular {
    font-family: "Kdam Thmor Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Estilização do botão */
button {
    width: 80%;
    height: 30px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 5px rgba(0, 0, 0.1);
    margin-top: 15vh;
    transition: all 2s ease;
}

#cityIcon {
    height: 30px;

}


#temperaturaIcon {
    height: 30px;
}


#umidadeIcon {
    height: 30px;
}

#ventoIcon {
    /* position: relative; */
    height: 30px;
    right: 10px;
}

/* Exibe os resultados do clima */
#climaResult {
    display: none;
    width: 350px;
    height: 150px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

}

/* Estilização dos ícones */
.icons {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    margin: 2px;
    width: 300vh;
}

/* Estilização do ícone de descrição */
#descricaoIcon {
    position: center;
    height: 30px;
    width: 30px;
    right: 10px;
}

/* Estilização da descrição */
.descricao {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    margin: 2px;
    align-items: center;
}

#descricaoIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lupa {
    display: none;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 25%;

}

#descricao1 {
    display: none;
    transition: 2s;
}

/* Estilização do ícone de lupa */
.lupa img {
    height: 4vh;
    width: 30px;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}

/* Media query para telas menores que 1200 pixels */
@media (max-width: 1200px) {
    .forminteiro {
        height: 525px;
    }

    /* Exibe os resultados do clima */
    #climaResult {
        display: block;
        font-size: 15px;
        width: 250px;
        height: 150px;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        display: none;
    }

    .icons {
        display: flex;
    }

    #cityIcon {
        height: 40px;

    }


    #temperaturaIcon {
        height: 40px;
    }


    #umidadeIcon {
        height: 40px;
    }

    #ventoIcon {
        height: 40px;

    }

    body{
        height: 94.8vh;
    }

}

/* Media query para telas menores que 640 pixels */
@media (max-width: 640px) {

    #cityIcon {
        height: 40px;

    }


    #temperaturaIcon {
        height: 40px;
    }


    #umidadeIcon {
        height: 40px;
    }

    #ventoIcon {
        height: 40px;
    }

    #descricaoIcon {
        height: 40px;
    }

    .forminteiro {
        height: 450px;
        width: 55%;
    }

}